/* .div_nav{
    margin: 2%;
}

.nav{
    position: fixed;
    margin: 2%;
}

.div{
    position: fixed;
    right: 4%;
    top:6%;
}

.span{
    margin:8%;
    margin-top: 10%;
    text-decoration: none;
    color:cornflowerblue;
    font-size: 130%;
}

.span:hover,.login_signup:hover{
    font-weight: bold;
    color: rgb(72, 72, 204);
    cursor: pointer;
 }

 #span_img{
    position: fixed;
    left: 16%;
    top:-18%;
}

 .wrap_login_signup{
    display: inline-block;
    margin-top: 2%;
    margin-left: -135%;
}

.login_signup,.span_b{
    text-decoration: none;
    color:cornflowerblue;
    font-size: 95%;
} */




.div_nav{
    margin: 2em;
}

.nav{
    position: fixed;
    margin: 2em;
}

.div{
    position: fixed;
    right: 4vw;
    top:6vh;
}

.span{
    margin:3em;
    text-decoration: none;
    color:cornflowerblue;
    font-size: 20px;
}

.span:hover,.login_signup:hover{
    /*font-weight: bold;*/
    color: rgb(72, 72, 204);
    cursor: pointer;
 }

 #span_img{
    position: fixed;
    left: 13.5vw;
    top:-4vh;
}

 .wrap_login_signup{
    display: inline-block;
    margin-top: 2vh;
    margin-right: 7vw;
}

.login_signup,.span_b{
    text-decoration: none;
    color:cornflowerblue;
    font-size: 15px;
}


