#right_side{
    margin-left: 50vw;
    background-color: cornflowerblue;
    width: 48vw;
    height: 80vh;
    font: 25px white bold;
}

.round_button{
    border-radius: 50px;
    background-color:  darkcyan;
    cursor: pointer;
}

.allGroups{
    display: inline-table;
    width: 70rem;
    height: 38rem;
    border: 1px solid rgb(115, 160, 237);
}

.singalGroup{
  /* display: inline; */
    display:inline-block;
    width:20vw;
    height:15vh;
    /* margin:0; */
  padding: 100px;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 10vh; 
  border: 1px solid blue;
  background-color: rgb(117, 155, 220);
    /* display: inline-block; */
}

.singalCash{
  width:15rem;
  background-color: rgb(117, 155, 220);
  border: 1px solid blue;
  margin-left: 50rem;
}

